.separate-slip-print:not(:last-child){
  page-break-after: always;
}

.movement-slip--print {
  font-size: 1.1875rem;
  text-decoration-thickness: unset;
  text-underline-offset: unset;
  margin-left: 15px;

  a {
    @extend .govuk-link;
    background-size: 20px 18px;
    padding: 12px 12px 12px 38px;
    border: 0;
    color: $govuk-brand-colour;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: rgba(11, 12, 12, .99);
    }

    &:focus {
      outline: 3px solid transparent;
      color: #0b0c0c;
      background-color: #eadb77 !important;
      box-shadow: 0 -2px #fd0, 0 4px #0b0c0c !important;
      text-decoration: none;
      box-decoration-break: clone;
      border-color: transparent;
    }
  }

  a {
    @extend .govuk-link--no-visited-state;
  }
}

.movement-slip {
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(4);
  border: 2px dashed $govuk-border-colour;
  page-break-inside: avoid;

  .movement-slip-header {
    @extend .govuk-heading-s;
  }

  .movement-slip-footer {
    text-align: right;
    color: $govuk-secondary-text-colour;
    margin-bottom: govuk-spacing(0);
  }

  .movement-slip-information {
    @extend .govuk-body-m;

    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    padding-left: 7px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
  }

  &__summary {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    &__row {
      @extend .govuk-body-m;
      display: table-row;
      border-bottom: 1px solid $govuk-border-colour;

      &--no-border {
        border-bottom: 0;
      }

      &__key {
        display: table-cell;
        width: 30%;
        font-weight: bold;
        padding: 10px 20px 10px 0;
        margin: 0;

        &--normal {
          font-weight: normal;
        }
      }

      &__value {
        display: table-cell;
        padding: 10px 20px 10px 0;
        margin: 0;
      }
    }
  }
}
