{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro availability(period, rooms) %}
        {% set rows = [] %}
        {{ roomsAvailabilityRows(period, rooms, rows) }}

        {% if period == "AM" %}
            {{ govukTable({
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Rooms",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "08:00",
                        attributes: {
                          "data-qa": "time-8"
                        },
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "09:00",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "10:00",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "11:00",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "12:00",
                        classes: 'govuk-table__header--no-header'
                    }
                ],
                rows: rows
            }) }}
        {% endif %}
        {% if period == "PM" %}
            {{ govukTable({
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Rooms",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "13:00",
                        attributes: {
                          "data-qa": "time-13"
                        },
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "14:00",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "15:00",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "16:00",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "17:00",
                        classes: 'govuk-table__header--no-header'
                    }
                ],
                rows: rows
            }) }}
        {% endif %}
        {% if period == "ED" %}
            {{ govukTable({
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Rooms",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "18:00",
                        attributes: {
                          "data-qa": "time-18"
                        },
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "19:00",
                        classes: 'govuk-table__header--no-header'
                    },
                    {
                        text: "20:00",
                        classes: 'govuk-table__header--no-header'
                    }
                ],
                rows: rows
            }) }}
        {% endif %}
{% endmacro %}


{% macro roomsAvailabilityRows(period, roomAvailability, rows) %}
    {% for room in roomAvailability %}
        {% if period == "ED" %}
            {% set rows = (rows.push(
                [
                    {
                        text: room.description,
                        attributes: {
                          'width': '40%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 0),
                        attributes: {
                          'width': '20%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 1),
                        attributes: {
                          'width': '20%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 2),
                        attributes: {
                          'width': '20%',
                          'word-break': 'break-all'
                        }
                    }
                ]
            ), rows) %}
        {% else %}
            {% set rows = (rows.push(
                [
                    {
                        text: room.description,
                        attributes: {
                          'width': '20%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 0),
                        attributes: {
                          'width': '16%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 1),
                        attributes: {
                          'width': '16%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 2),
                        attributes: {
                          'width': '16%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 3),
                        attributes: {
                          'width': '16%',
                          'word-break': 'break-all'
                        }
                    },
                    {
                        html: roomHtml(room, 4),
                        attributes: {
                          'width': '16%',
                          'word-break': 'break-all'
                        }
                    }
                ]
            ), rows) %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro roomHtml(room, index) %}
    {% if not room.hourlySlots[index].freeSlots.length %}
        <div data-qa="{{ room.id }}-booked-{{ room.date }}-{{ room.hourlySlots[index].hour }}">Booked</div>
    {% else %}
        {% if room.hourlySlots[index].freeSlots.length %}
            {% if room.hourlySlots[index].freeSlots.length == 1 and room.hourlySlots[index].freeSlots[0].durationInMinutes == 60 %}
                {{ govukTag({
                    text: 'Available',
                    classes: 'govuk-tag--no-text-transform govuk-tag--green',
                    attributes: {
                        'data-qa': room.id + '-available-' + room.date + '-' + room.hourlySlots[index].hour
                    }
                }) }}
            {% else %}
                {% set partialAvailabilityHtml %}
                    <div>Available</div>
                    {% for startEnd in room.hourlySlots[index].freeSlots %}
                        <div data-qa='{{ room.id }}-partial-{{ room.date }}-{{ startEnd.startTime }}-{{ startEnd.endTime }}'>{{ startEnd.startTime }} - {{ startEnd.endTime }}</div>
                    {% endfor %}
                {% endset %}
                {{ govukTag({
                    html: partialAvailabilityHtml,
                    classes: 'govuk-tag--no-text-transform govuk-tag--spacing govuk-tag--orange'
                }) }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}
