{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukPhaseBanner({
  attributes: {
    role: "complementary"
  },
  tag: {
    text: "Alpha"
  },
  classes: 'govuk-!-display-none-print',
  html: 'This is a new service. Your feedback will help us to improve this service.'
}) }}

{% if backLinkHref %}
  <nav>
    {{ govukBackLink({
      text: backLinkText or "Back",
      href: backLinkHref,
      classes: 'govuk-!-display-none-print',
      attributes: {
        rel: 'noreferrer'
      }
    }) }}
  </nav>
{% endif %}

{% include './formErrorSummary.njk' %}
