{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% if not noAppointmentsForDay %}
<div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-display-none-print" data-module="moj-filter" filters-applied="{{ 'true' if session.journey.scheduleFilters else 'false' }}">
    <div class="govuk-grid-column-full">
        <div class="moj-action-bar">
            <div class="moj-action-bar__filter"></div>
        </div>
        <div class="moj-filter">
            <div class="moj-filter__header">
                <div class="moj-filter__header-title">
                    <h2 class="govuk-heading-m">Filter by</h2>
                </div>
            </div>

            <div class="moj-filter__content">
                {% if session.journey.scheduleFilters %}
                    <div class="moj-filter__selected">
                        <div class="moj-filter__selected-heading">
                            <div class="moj-filter__heading-title">
                                <h2 class="govuk-heading-m">Selected filters</h2>
                            </div>
                            <div class="moj-filter__heading-action">
                                <p><a class="govuk-link govuk-link--no-visited-state" href="/clear-filter?all=true">Clear filters</a></p>
                            </div>
                        </div>

                        <ul class="moj-filter-tags">
                            {% for wing in wings %}
                                {% set selectedFilters = session.journey.scheduleFilters.wing or [] %}
                                {% if wing.fullLocationPath in selectedFilters %}
                                    <li><a class="moj-filter__tag" href="/clear-filter?wing={{ wing.fullLocationPath }}"><span class="govuk-visually-hidden">Remove</span> {{ wing.localName }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% for appointmentType in appointmentTypes %}
                                {% set selectedFilters = session.journey.scheduleFilters.appointmentType or [] %}
                                {% if appointmentType.code in selectedFilters %}
                                    <li><a class="moj-filter__tag" href="/clear-filter?appointmentType={{ appointmentType.code }}"><span class="govuk-visually-hidden">Remove</span> {{ appointmentType.description }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% set selectedFilters = session.journey.scheduleFilters.period or [] %}
                            {% if 'AM' in selectedFilters %}
                                <li><a class="moj-filter__tag" href="/clear-filter?period=AM"><span class="govuk-visually-hidden">Remove</span> Morning (AM)</a></li>
                            {% endif %}
                            {% if 'PM' in selectedFilters %}
                                <li><a class="moj-filter__tag" href="/clear-filter?period=PM"><span class="govuk-visually-hidden">Remove</span> Afternoon (PM)</a></li>
                            {% endif %}
                            {% if 'ED' in selectedFilters %}
                                <li><a class="moj-filter__tag" href="/clear-filter?period=ED"><span class="govuk-visually-hidden">Remove</span> Evening (ED)</a></li>
                            {% endif %}

                            {% for appointmentLocation in appointmentLocations %}
                                {% set selectedFilters = session.journey.scheduleFilters.appointmentLocation or [] %}
                                {% if appointmentLocation.id in selectedFilters %}
                                    <li><a class="moj-filter__tag" href="/clear-filter?appointmentLocation={{ appointmentLocation.id }}"><span class="govuk-visually-hidden">Remove</span> {{ appointmentLocation.localName }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% for courtOrProbationTeam in courtsAndProbationTeams %}
                                {% set selectedFilters = session.journey.scheduleFilters.courtOrProbationTeam or [] %}
                                {% if courtOrProbationTeam.code in selectedFilters %}
                                    <li><a class="moj-filter__tag" href="/clear-filter?courtOrProbationTeam={{ courtOrProbationTeam.code }}"><span class="govuk-visually-hidden">Remove</span> {{ courtOrProbationTeam.description }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="moj-filter__options">
                    <form method="POST">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                        <div class="moj-filter__options-container">
                            <div class="moj-filter__option">
                                {% set items = [] %}
                                {% for wing in wings %}
                                    {% set items = (items.push({
                                        value: wing.fullLocationPath,
                                        text: wing.localName,
                                        checked: wing.fullLocationPath in (session.journey.scheduleFilters.wing or [])
                                    }), items) %}
                                {% endfor %}

                                {{ govukCheckboxes({
                                    name: "wing",
                                    classes: "govuk-checkboxes--small",
                                    fieldset: {
                                        legend: {
                                            text: "Wing",
                                            classes: "govuk-fieldset__legend--m"
                                        }
                                    },
                                    items: items
                                }) }}
                            </div>
                            <div class="moj-filter__option">
                                {% set items = [] %}
                                {% for appointmentType in appointmentTypes %}
                                    {% set items = (items.push({
                                        value: appointmentType.code,
                                        text: appointmentType.description,
                                        checked: appointmentType.code in (session.journey.scheduleFilters.appointmentType or [])
                                    }), items) %}
                                {% endfor %}

                                {{ govukCheckboxes({
                                    name: "appointmentType",
                                    classes: "govuk-checkboxes--small",
                                    fieldset: {
                                        legend: {
                                            text: "Appointment type",
                                            classes: "govuk-fieldset__legend--m"
                                        }
                                    },
                                    items: items
                                }) }}
                            </div>
                            <div class="moj-filter__option">
                                {{ govukCheckboxes({
                                    name: "period",
                                    classes: "govuk-checkboxes--small",
                                    fieldset: {
                                        legend: {
                                            text: "Period",
                                            classes: "govuk-fieldset__legend--m"
                                        }
                                    },
                                    items: [
                                        {
                                            value: "AM",
                                            text: "Morning (AM)",
                                            checked: 'AM' in (session.journey.scheduleFilters.period or [])
                                        },
                                        {
                                            value: "PM",
                                            text: "Afternoon (PM)",
                                            checked: 'PM' in (session.journey.scheduleFilters.period or [])
                                        },
                                        {
                                            value: "ED",
                                            text: "Evening (ED)",
                                            checked: 'ED' in (session.journey.scheduleFilters.period or [])
                                        }
                                    ]
                                }) }}
                            </div>
                            <div class="moj-filter__option">
                                <div class="govuk-!-margin-bottom-6">
                                    {% for selectedLocation in session.journey.scheduleFilters.appointmentLocation or [] %}
                                        {% set items = [{value: '', text: ''}] %}
                                        {% for appointmentLocation in appointmentLocations %}
                                            {% set items = (items.push({
                                                value: appointmentLocation.id,
                                                text: appointmentLocation.localName,
                                                selected: selectedLocation == appointmentLocation.id
                                            }), items) %}
                                        {% endfor %}

                                        {{ govukSelect({
                                            id: "appointmentLocation-" + selectedLocation,
                                            name: "appointmentLocation",
                                            label: {
                                                text: "Appointment location",
                                                classes: "govuk-label--m" + (" govuk-visually-hidden" if loop.index > 1)
                                            },
                                            items: items,
                                            disabled: true,
                                            attributes: {
                                                'clear-link': '/clear-filter?appointmentLocation=' + selectedLocation
                                            }
                                        }) }}
                                        <input type="hidden" name="appointmentLocation" value="{{ selectedLocation }}">
                                    {% endfor %}

                                    {% set items = [{value: '', text: ''}] %}
                                    {% for appointmentLocation in appointmentLocations %}
                                        {% set items = (items.push({
                                            value: appointmentLocation.id,
                                            text: appointmentLocation.localName
                                        }), items) %}
                                    {% endfor %}

                                    {{ govukSelect({
                                        id: "appointmentLocation",
                                        name: "appointmentLocation",
                                        label: {
                                            text: "Appointment location",
                                            classes: "govuk-label--m"
                                        } if not session.journey.scheduleFilters.appointmentLocation,
                                        items: items
                                    }) }}

                                    <button type="submit" class="moj-filter__add-another">Select another location</button>
                                </div>

                                <div>
                                    {% for selectedCourtOrProbationTeam in session.journey.scheduleFilters.courtOrProbationTeam or [] %}
                                        {% set items = [{value: '', text: ''}] %}
                                        {% for courtOrProbationTeam in courtsAndProbationTeams %}
                                            {% set items = (items.push({
                                                value: courtOrProbationTeam.code,
                                                text: courtOrProbationTeam.description,
                                                selected: selectedCourtOrProbationTeam == courtOrProbationTeam.code
                                            }), items) %}
                                        {% endfor %}

                                        {{ govukSelect({
                                            id: "courtOrProbationTeam-" + selectedCourtOrProbationTeam,
                                            name: "courtOrProbationTeam",
                                            label: {
                                                text: "Court or probation team",
                                                classes: "govuk-label--m" + (" govuk-visually-hidden" if loop.index > 1)
                                            },
                                            items: items,
                                            disabled: true,
                                            attributes: {
                                                'clear-link': '/clear-filter?courtOrProbationTeam=' + selectedCourtOrProbationTeam
                                            }
                                        }) }}
                                        <input type="hidden" name="courtOrProbationTeam" value="{{ selectedCourtOrProbationTeam }}">
                                    {% endfor %}

                                    {% set items = [{value: '', text: ''}] %}
                                    {% for courtOrProbationTeam in courtsAndProbationTeams %}
                                        {% set items = (items.push({
                                            value: courtOrProbationTeam.code,
                                            text: courtOrProbationTeam.description
                                        }), items) %}
                                    {% endfor %}

                                    {{ govukSelect({
                                        id: "courtOrProbationTeam",
                                        name: "courtOrProbationTeam",
                                        label: {
                                            text: "Court or probation team",
                                            classes: "govuk-label--m"
                                        } if not session.journey.scheduleFilters.courtOrProbationTeam,
                                        items: items
                                    }) }}

                                    <button type="submit" class="moj-filter__add-another">Select another court or probation team</button>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="govuk-button govuk-!-margin-top-3 govuk-!-margin-bottom-0" data-module="govuk-button">
                            Apply filters
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-9">There are no video link appointments on the date selected.</p>
{% endif %}
