{% extends "govuk/template.njk" %}
{% from "./newFeaturesBanner.njk" import newFeaturesBanner %}

{% set mainClasses = 'govuk-main-wrapper--l' %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{ "Error: " if validationErrors.length > 0 else "" }}{{ (pageTitle + " | ") if pageTitle else ""}}{{ applicationName + " | MoJ" }}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
  {% block meta %}{% endblock %}

  {% if showDailySchedulePreLaunchBanner %}
    {{ newFeaturesBanner({
      heading: 'Help us improve video appointment scheduling.',
      html: 'Share your experience today by <a data-qa="pre-launch-room-availability-feedback-url" href="' + preLaunchRoomAvailabilityFeedbackUrl + '" class="govuk-link govuk-link--inverse" rel="noopener noreferrer" target="_blank">completing this short form</a>.'
    }) }}
  {% endif %}

  {% if showDailySchedulePostLaunchBanner %}
    {{ newFeaturesBanner({
      heading: 'New video room availability feature has launched.',
      html: 'Explore <a data-qa="daily-schedule-banner-url" href="/room-availability" class="govuk-link govuk-link--inverse" rel="noopener noreferrer" target="_blank">here</a> to learn more.'
    }) }}
  {% endif %}

  {% if showRoomAvailabilityLaunchBanner %}
    {{ newFeaturesBanner({
      heading: 'This is a new feature.',
      html: 'Give <a data-qa="room-availability-banner-feedback-url" href="' + postLaunchRoomAvailabilityFeedbackUrl + '" class="govuk-link govuk-link--inverse" rel="noopener noreferrer" target="_blank">feedback</a> to help us improve it'
    }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include 'partials/beforeContent.njk' %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    window.applicationInsightsConnectionString = "{{ applicationInsightsConnectionString }}"
    window.applicationInsightsApplicationName = "{{ applicationInsightsApplicationName }}"
    window.buildNumber = "{{ buildNumber }}"
    window.authenticatedUser = "{{ user.username }}"
  </script>
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
