{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro showStartAndEndTime(startTime, endTime, pickUpTime) %}
    <div>
        <div class="govuk-body-s govuk-!-margin-0">
            {% if endTime %}
                {{ startTime }} to {{ endTime }}
            {% else %}
                {{ startTime }}
            {% endif %}
        </div>


        {% if pickUpTime %}
            <div class="govuk-body-s govuk-!-font-size-14 govuk-!-margin-top-2 govuk-link--no-visited-state">
                {{ govukDetails({
                    summaryText: "Pick-up time",
                    text: pickUpTime,
                    open: false,
                    classes: "govuk-body-s govuk-!-font-size-14 show-hide-details"
                }) }}
            </div>
        {% endif %}
    </div>
{% endmacro %}
