{% macro stat(params) %}
    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-3 govuk-!-padding-left-0">
        <div class="govuk-body govuk-!-margin-bottom-0">{{ params.heading }}</div>
        <span class="govuk-heading-l govuk-!-margin-0 govuk-!-padding-0 ">
            {% if params.dataQa %}
                <span data-qa="{{ params.dataQa }}">{{ params.number }}</span>
            {% else %}
                <span>{{ params.number }}</span>
            {% endif %}
            {% if params.visuallyHiddenText %}<span class="govuk-visually-hidden">{{ params.visuallyHiddenText }}</span>{% endif %}
        </span>

        {% if params.link and params.number > 0 %}
            <p class="govuk-!-margin-bottom-0 {{ params.link.classes }}">
                <a href="{{ params.link.href }}" data-qa="{{ params.link.dataQa }}" class="govuk-link govuk-link--no-visited-state">
                    {{ params.link.text }}<span class="govuk-visually-hidden">{{ params.visuallyHiddenText }}</span>
                </a>
            </p>
        {% endif %}
    </div>
{% endmacro %}