{% extends "partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "partials/stat.njk" import stat %}

{% set pageTitle = "Cancelled video appointments: " + prisonName %}
{% set backLinkHref = '/?date=' + date | formatDate('yyyy-MM-dd') %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ pageTitle }}</h1>
            <div class="govuk-!-margin-bottom-9">
                <span class="govuk-caption-m govuk-!-display-inline-block">{{ date | formatDate('iiii d MMMM yyyy') }}.</span>
            </div>
        </div>
    </div>

    {% if not appointmentsRolledOut %}
        {{ govukWarningText({
            text: "Only court hearings and probation meetings are shown.",
            iconFallbackText: "Warning"
        }) }}
    {% endif %}

    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-full">
            {{ stat({
                heading: "Cancelled appointments",
                number: schedule.cancelledAppointments,
                visuallyHiddenText: "cancelled appointments"
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% set rows = [] %}
            {% for appointmentGroup in schedule.appointmentGroups %}
                {% for scheduleItem in appointmentGroup %}
                    {% set classes = '' if loop.last else 'govuk-table__cell--no-border' %}
                    {% set classes = (classes + ' govuk-table__cell--alternate-shade') | trim if appointmentGroup.length > 1 %}

                    {% set rows = (rows.push([
                        {
                            html: showProfileLink(dpsUrl, scheduleItem.prisoner) if loop.index == 1,
                            attributes: {
                                "data-sort-value": scheduleItem.prisoner.lastName + scheduleItem.prisoner.firstName
                            },
                            classes: classes
                        },
                        {
                            text: scheduleItem.startTime + ' to ' + scheduleItem.endTime,
                            classes: classes
                        },
                        {
                            html: '<div class="govuk-!-margin-bottom-3">' + scheduleItem.appointmentTypeDescription + '</div>' + ('<div class="govuk-hint">' + scheduleItem.appointmentSubtypeDescription + '</div>' if scheduleItem.appointmentSubtypeDescription),
                            classes: classes
                        },
                        {
                            html:  '<div class="govuk-!-margin-bottom-3">' + scheduleItem.appointmentLocationDescription + '</div>' + ('<div class="govuk-hint">' + scheduleItem.externalAgencyDescription + '</div>' if scheduleItem.externalAgencyDescription),
                            classes: classes
                        },
                        {
                            text: (scheduleItem.cancelledTime | formatDate("d MMM yyyy 'at' h:mmaaaaa'm'")) if (appointmentGroup.length == 1 or loop.index == 2),
                            classes: classes
                        },
                        {
                            html: ((scheduleItem.cancelledBy | initialiseName) or 'DPS') if (appointmentGroup.length == 1 or loop.index == 2),
                            classes: classes
                        },
                        {
                            html: '
                                    <a class="govuk-link govuk-link--no-visited-state" href="' + scheduleItem.viewAppointmentLink + '" rel="noreferrer noopener" target="_blank">
                                        View<span class="govuk-visually-hidden">(opens in new tab)</span>
                                    </a>
                                  ' if loop.index == 1,
                            classes: classes
                        } if appointmentsRolledOut
                    ] | filterFalsy), rows) %}
                {% endfor %}
            {% endfor %}

            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                head: [
                    {
                        text: "Prisoner",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Time"
                    },
                    {
                        text: "Appointment"
                    },
                    {
                        text: "Location"
                    },
                    {
                        text: "Cancelled at"
                    },
                    {
                        text: "Cancelled by"
                    },
                    {
                        text: "Action"
                    } if appointmentsRolledOut
                ] | filterFalsy,
                rows: rows
            }) }}
        </div>
    </div>
{% endblock %}