{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/stat.njk" import stat %}

{% set isToday = (date | formatDate('yyyy-MM-dd')) == (now() | formatDate('yyyy-MM-dd'))  %}
{% if isToday %}
    {% set backLinkText = "Back to all appointments tasks" if appointmentsRolledOut else "Back to prisoner whereabouts" %}
    {% set backLinkHref = (activitiesAndAppointmentsUrl + '/appointments') if appointmentsRolledOut else (dpsUrl + '/manage-prisoner-whereabouts') %}
{% else %}
    {% set backLinkText = "Back to today's schedule" %}
    {% set backLinkHref = '/clear-filter?all=true' %}
{% endif %}

{% set pageTitle = "Video daily schedule: " + prisonName %}
{% set noAppointmentsForDay = not session.journey.scheduleFilters and schedule.appointmentsListed == 0 %}

{% block meta %}
    {% set content = "appointmentLocation,courtOrProbationTeam" %}
    {% for selectedLocation in session.journey.scheduleFilters.appointmentLocation or [] %}
        {% set content = content + ",appointmentLocation-" + selectedLocation %}
    {% endfor %}
    {% for selectedCourtOrProbationTeam in session.journey.scheduleFilters.courtOrProbationTeam or [] %}
        {% set content = content + ",courtOrProbationTeam-" + selectedCourtOrProbationTeam %}
    {% endfor %}
    <meta name="autocompleteElements" content="{{ content }}"/>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ pageTitle }}</h1>
            <div class="govuk-!-margin-bottom-6">
                <span class="govuk-caption-m govuk-!-display-inline-block govuk-!-margin-right-3">{{ date | formatDate('iiii d MMMM yyyy') }}.</span>
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-display-none-print" href="/select-date{{'?date=' + date | formatDate('yyyy-MM-dd') }}">Choose a different date</a>
                <span class="govuk-caption-m govuk-!-display-inline-block print-only">Last updated {{ now() | formatDate('HH:mm') }}</span>
            </div>
        </div>
    </div>

    {% if isPastDay %}
        <div class="govuk-grid-row govuk-!-display-none-print">
            <div class="govuk-grid-column-full">
                {{ govukWarningText({
                    text: "You cannot edit details of appointments that have already happened.",
                    iconFallbackText: "Warning",
                    attributes: {
                        "data-qa": "warning-text"
                    }
                }) }}
            </div>
        </div>
    {% endif %}

    {% include "partials/filters.njk" %}

    {% if session.journey.scheduleFilters %}
        <div class="govuk-grid-row govuk-!-display-none-print">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">Filter returned <span class="govuk-!-font-weight-bold">{{ schedule.appointmentsListed }}</span> results. <a class="govuk-link govuk-link--no-visited-state" href="/clear-filter?all=true">Clear filters</a></p>
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-display-none-print">
            {{ stat({
                heading: "Appointments listed",
                number: schedule.appointmentsListed,
                visuallyHiddenText: "appointments listed"
            }) }}

            {{ stat({
                heading: "Total number of prisoners",
                number: schedule.numberOfPrisoners,
                visuallyHiddenText: "prisoners"
            }) }}

            {{ stat({
                heading: "Cancelled appointments",
                number: schedule.cancelledAppointments,
                visuallyHiddenText: "cancelled appointments",
                link: {
                    href: '/?date=' + date | formatDate('yyyy-MM-dd') + '&status=CANCELLED',
                    text: 'View',
                    classes: 'govuk-!-display-none-print'
                }
            }) }}

            {{ stat({
                heading: "Missing video links",
                number: schedule.missingVideoLinks,
                visuallyHiddenText: "missing video links"
            }) }}
        </div>

        <div class="govuk-grid-column-full print-only">
            <p class="govuk-body govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">{{ schedule.appointmentsListed }}</span> Appointments listed</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">{{ schedule.missingVideoLinks }}</span> Missing video links</p>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">
            {% set rows = [] %}

            {% for appointmentGroup in schedule.appointmentGroups %}
                {% for scheduleItem in appointmentGroup %}
                    {% set classes = '' if loop.last else 'govuk-table__cell--no-border' %}
                    {% set classes = (classes + ' govuk-table__cell--alternate-shade') | trim if appointmentGroup.length > 1 %}

                    {% set rows = (rows.push([
                        {
                            html: showProfileLink(dpsUrl, scheduleItem.prisoner) if loop.index == 1,
                            attributes: {
                                "data-sort-value": scheduleItem.prisoner.lastName + scheduleItem.prisoner.firstName
                            },
                            classes: classes
                        },
                        {
                            text: scheduleItem.startTime + ((' to ' + scheduleItem.endTime) if scheduleItem.endTime),
                            classes: classes
                        },
                        {
                            html: '<div class="govuk-!-margin-bottom-3">' + scheduleItem.appointmentTypeDescription + '</div>' + ('<div class="govuk-hint">' + scheduleItem.appointmentSubtypeDescription + '</div>' if scheduleItem.appointmentSubtypeDescription),
                            classes: classes
                        },
                        {
                            html:  '<div class="govuk-!-margin-bottom-3">' + scheduleItem.appointmentLocationDescription + '</div>' + ('<div class="govuk-hint">' + scheduleItem.externalAgencyDescription + '</div>' if scheduleItem.externalAgencyDescription),
                            classes: classes
                        },
                        {
                            html: scheduleItem.videoLink or 'None entered' if scheduleItem.videoLinkRequired else (('--' if appointmentGroup.length == 1) + '<span class="govuk-visually-hidden">Not required</span>'),
                            classes: classes
                        },
                        {
                            html: bookingStatuses(scheduleItem.tags) if (appointmentGroup.length == 1 or loop.index == 2),
                            classes: classes + ' govuk-!-display-none-print'
                        },
                        {
                            html: '
                                    <a class="govuk-link govuk-link--no-visited-state" href="' + scheduleItem.viewAppointmentLink + '" rel="noreferrer noopener" target="_blank">
                                        View' + (' or edit' if not isPastDay) + '<span class="govuk-visually-hidden">(opens in new tab)</span>
                                    </a>
                                  ' if loop.index == 1,
                            classes: classes + ' govuk-!-display-none-print'
                        }
                    ]), rows) %}
                {% endfor %}
            {% endfor %}

            {% if not noAppointmentsForDay %}
                <div class="hmpps-action-bar govuk-!-display-none-print">
                    {% if not isPastDay %}
                        <div class="hmpps-last-updated">
                            <span>Last updated {{ now() | formatDate('HH:mm') }}</span>
                            {{ govukButton({ classes: 'govuk-button--secondary hmpps-refresh', text: "Refresh schedule" }) }}
                        </div>
                    {% endif %}
                    <div class="hmpps-print-and-export">
                        <button class="hmpps-print-and-export--export">Export as spreadsheet (.csv file)</button>
                        <button class="hmpps-print-and-export--print">Print schedule</button>
                    </div>
                </div>
                {{ govukTable({
                    attributes: {
                        'data-module': 'moj-sortable-table'
                    },
                    head: [
                        {
                            text: "Prisoner",
                            attributes: {
                                "aria-sort": "none"
                            }
                        },
                        {
                            text: "Time"
                        },
                        {
                            text: "Appointment"
                        },
                        {
                            text: "Location"
                        },
                        {
                            text: "Video link"
                        },
                        {
                            text: "Status",
                            classes: 'govuk-!-display-none-print'
                        },
                        {
                            text: "Action",
                            classes: 'govuk-!-display-none-print'
                        }
                    ],
                    rows: rows
                }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% macro bookingStatuses(tags) %}
    <div class="govuk-tag-group">
        {% for tag in tags %}
            {% if tag == 'NEW' %}
                {{ govukTag({
                    text: "New booking",
                    classes: "govuk-tag--status govuk-tag--status__new-booking"
                }) }}
            {% endif %}

            {% if tag == 'UPDATED' %}
                {{ govukTag({
                    text: "Updated",
                    classes: "govuk-tag--status govuk-tag--status__updated-booking"
                }) }}
            {% endif %}

            {% if tag == 'LINK_MISSING' %}
                {{ govukTag({
                    text: "Link missing",
                    classes: "govuk-tag--status govuk-tag--status__link-missing"
                }) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

