{% extends "partials/layout.njk" %}

{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Select the date you want to view a daily schedule for" %}
{% set backLinkHref = '/?date=' + date %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-l">Daily schedule</span>
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ mojDatePicker({
                    id: 'date',
                    name: 'date',
                    label: {
                        text: "Date",
                        classes: 'govuk-label--s'
                    },
                    hint: {
                        text: 'For example, ' + now() | formatDate('dd/MM/yyyy')
                    },
                    errorMessage: validationErrors | findError('date'),
                    value: formResponses.date
                }) }}

                {{ govukButton({
                    html: "Confirm",
                    preventDoubleClick: true,
                    type: "submit"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
