.autocomplete__wrapper {
  @include govuk-media-query($until: desktop) {
    width: available;
  }
}

.autocomplete {
  &__option {
    font-family: "GDS Transport", Arial, sans-serif;
  }

  &__input {
    &--show-all-values {
      padding: 5px;
    }
  }
}
