.govuk-list {
  &__green {
    @extend .govuk-list--bullet;

    li::marker {
      color: green;
    }
  }

  &__orange {
    @extend .govuk-list--bullet;
    li::marker {
      color: orange;
    }
  }
}

.govuk-table {
  .govuk-table__header {
    border-top: 1px solid #b1b4b6;
  }

  .govuk-table__cell {
    @extend .govuk-table__cell;
    &--booked {
      background-color: #F3F2F180; /* Sets the background color to grey */
      padding: 10px;
    }
  }
}

.appointments-link-div {
  text-align: right;
  margin-right: 10px;
}