.govuk-tag {
  @extend .govuk-tag;

  &--no-text-transform {
    text-transform: none;
  }

  &--spacing {
    margin-bottom: 10px;
  }
}

.govuk-table {
  .govuk-table__header {
    @extend .govuk-table__header;

    &--no-border-top {
      border-top: none;
    }

    &--no-border-bottom {
      border-bottom: none;
    }
  }
}

.appointments-link-div {
  text-align: right;
  margin-right: 10px;
}
