.govuk-tag {
  @extend .govuk-tag;

  &--no-text-transform {
    text-transform: none;
  }
}

.govuk-table {
  .govuk-table__header {
    @extend .govuk-table__header;

    &--no-header {
      border-top: none;
    }
  }
}

.appointments-link-div {
  text-align: right;
  margin-right: 10px;
}