{% extends "partials/layout.njk" %}

{% set pageTitle = "Daily Video Conference Schedule" %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ pageTitle }}</h1>
{% endblock %}
