.technical-updates-banner {
  padding: 10px 0 0 0;
  background: #44247b;
}

.technical-updates-container {
  color: white;
}

.technical-updates-content {
  text-align: left;
}

.technical-updates-whats-new {
  margin-right: 10px;
}
