{% extends "partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">You do not have permission to access this page</h1>

  <p class="govuk-body">If you think you should have permission to access this page, contact your local system administrator.</p>

  <a href="/" class="govuk-button">Go to {{ applicationName }}</a>
{% endblock %}
