{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/availability.njk" import availability %}

{% set backLinkText = "Back to all appointments tasks" %}
{% set backLinkHref = (activitiesAndAppointmentsUrl + '/appointments') %}

{% set pageTitle = "Check video room availability: " + prison.name %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        {{ mojDatePicker({
                            id: 'date',
                            name: 'date',
                            label: {
                                text: "Date",
                                classes: 'govuk-label--s'
                            },
                            hint: {
                                text: 'For example, ' + now() | formatDate('dd/MM/yyyy')
                            },
                            excludedDays: "saturday sunday",
                            errorMessage: validationErrors | findError('date'),
                            value: formResponses.date or date | formatDate('dd/MM/yyyy') or now() | formatDate('dd/MM/yyyy')
                        }) }}
                    </div>
                    <div class="govuk-grid-column-one-half">
                        {{ govukRadios({
                            classes: "govuk-radios--inline",
                            idPrefix: "period",
                            name: "period",
                            fieldset: {
                                legend: {
                                    text: "Session",
                                    classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-7"
                                }
                            },
                            items: [
                                {
                                    value: "AM",
                                    text: "Morning",
                                    checked: formResponses.period == "AM" or period == "AM"
                                },
                                {
                                    value: "PM",
                                    text: "Afternoon",
                                    checked: formResponses.period == "PM" or period == "PM"
                                },
                                {
                                    value: "ED",
                                    text: "Evening",
                                    checked: formResponses.period == "ED" or period == "ED"
                                }
                            ],
                            errorMessage: validationErrors | findError("duration")
                        }) }}
                    </div>
                    <div class="appointments-link-div">
                        <a data-qa="appointments-link" class="govuk-link govuk-link--no-visited-state" href="{{ appointmentsLink }}" rel="noreferrer noopener" target="_blank">Book an appointment in a new tab</a>
                    </div>
                </div>
                <div>
                    {{ govukButton({
                        html: "Update",
                        preventDoubleClick: true,
                        type: "submit"
                    }) }}
                </div>
            </form>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-3">
        <div class="govuk-grid-column-full">
            <div class="govuk-heading-s">Date and time availability</div>
            <p class="govuk-body-m">Last updated {{ now() | formatDate('HH:mm') }}</p>
            {{ govukPagination({
                previous: {
                    text: 'Previous week',
                    href: "/room-availability?date=" + previousWeek | formatDate('yyyy-MM-dd') + "&period=" + period
                },
                next: {
                    text: 'Next week',
                    href: "/room-availability?date=" + nextWeek | formatDate('yyyy-MM-dd') + "&period=" + period
                },
                items: [
                    {
                        number: 'Current week',
                        href: "/room-availability?date=" + currentWeekStartDate | formatDate('yyyy-MM-dd') + "&period=" + period,
                        attributes: {
                          "data-qa": "current-week"
                        }
                    } if currentWeekStartDate
                ]
            }) }}
            <div>
                {{ govukTabs({
                    items: [
                        {
                            label: formattedDate(monday),
                            id: "monday",
                            panel: {
                                html: availability(period, mondayAvailability)
                            },
                            attributes: {
                                "data-qa": "monday_tab"
                            }
                        },
                        {
                            label: formattedDate(tuesday),
                            id: "tuesday",
                            panel: {
                                html: availability(period, tuesdayAvailability)
                            },
                            attributes: {
                                "data-qa": "tuesday_tab"
                            }
                        },
                        {
                            label: formattedDate(wednesday),
                            id: "wednesday",
                            panel: {
                                html: availability(period, wednesdayAvailability)
                            },
                            attributes: {
                                "data-qa": "wednesday_tab"
                            }
                        },
                        {
                            label: formattedDate(thursday),
                            id: "thursday",
                            panel: {
                                html: availability(period, thursdayAvailability)
                            },
                            attributes: {
                                "data-qa": "thursday_tab"
                            }
                        },
                        {
                            label: formattedDate(friday),
                            id: "friday",
                            panel: {
                                html: availability(period, fridayAvailability)
                            },
                            attributes: {
                                "data-qa": "friday_tab"
                            }
                        }
                    ]
                }) }}
            </div>
        </div>
    </div>
{% endblock %}

{% macro formattedDate(date) %}
    {% if date | isYearBoundaryDate %}
        {{ date | formatDate('iii d MMM yyyy') }}
    {% else %}
        {{ date | formatDate('iii d MMM') }}
    {% endif %}
{% endmacro %}
