{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set hideBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">The availability checker is currently unavailable</h1>
            <p class="govuk-body">We apologise for any inconvenience this may cause and thank you for your patience.</p>

            {{ govukButton({
                text: "Return to HMPPS Digital Services",
                classes: 'govuk-!-margin-top-6',
                href: authUrl
            }) }}
        </div>
    </div>
{% endblock %}
